

<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>



<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="http://prime-land.net/Image/architect.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Tolet</b></span> <span class="w3-hide-small w3-text-light-grey">App</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="text-center">Our Services</h3>
           <div>
    <hr />
</div>
  </div>

 
  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="text-center">About Us</h3>

       <div>
    <hr />
</div>
    <p class="card-text" >
        Tolet App is a company in Dhaka that helps bachelors find homes. They offer a wide range of rental options and personalized assistance to ensure that clients find the best living space within their budget. Tolet App prioritizes safety and regularly inspects their properties. They provide detailed information on each property through their user-friendly website and are transparent and honest with their clients. Tolet App is committed to providing excellent customer service and building lasting relationships with their clients.

    </p>
  </div>


  
</div>


</body>
</html>