@model toletwebapp.Models.Building

@{
        ViewData["Title"] = "Create";
}

<h1>Create Building</h1>

<div class="row">
        <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                                <label asp-for="Block" class="control-label"></label>
                                <input asp-for="Block" class="form-control" />
                                <span asp-validation-for="Road" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                                <label asp-for="Road" class="control-label"></label>
                                <input asp-for="Road" class="form-control" />
                                <span asp-validation-for="Road " class="text-danger"></span>
                        </div>
                       <div class="form-group">
                                <label asp-for="House" class="control-label"></label>
                                <input asp-for="House" class="form-control" />
                                <span asp-validation-for="House" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                                <label asp-for="Note" class="control-label"></label>
                                <input asp-for="Note" class="form-control" />
                                <span asp-validation-for="Note " class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col">
                            <label>
                                <input asp-for="GarageAvailable" type="checkbox">
                                Garage Available: 
                            </label>
                            </div>
                            <div class="col">
                                                        
                            <label>
                                <input asp-for="LiftAvailable" type="checkbox">
                                Lift Available:
                            </label>
                            </div>

                        </div>


                        <div class="form-group">
                                <label asp-for="Image" class="control-label"></label>
                                <input asp-for="ImageUpload" class="form-control" />
                                <img id="imgpreview" class="pt-2" />
                                <span asp-validation-for="ImageUpload" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                                <button class="btn btn-primary" type="submit">Create</button>
                        </div>
                </form>
        </div>
</div>

<div>
        <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
<script>
        $("#ImageUpload").change(function() {
                readURL(this);
        });
        CKEDITOR.replace( 'Description' );
</script>

}